@font-face {
    font-family: 'Nunito';
    src: url('/Nunito-Regular.ttf') format('truetype')
}

body {
    font-family: 'Nunito';
    min-height: 115vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.sitebody {
    margin-top: 90px;
}